body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 20pt;
	color: black;
}

a {
	color:black;
}

@font-face{
	font-family: Format;
	src: url("fonts/Format_1452.otf");
}


.title{
	width: 800px;
	padding: 8px;
	margin-bottom: 12px;
	position: fixed;
	top: 20%;
	left: 22%;
}

.size{
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: -1;
	width: 100%;
	opacity: 60%;
}

.header-margin{
	margin-top: 193px;
}
 
.content {
	font-size: 24px;
	display: none;
	width: 100%;
}

/*FLEX*/
.split{
	width: 50%;
	padding: 10px;
}

.wide-box{
	margin: 10px;
	width: 98.5%;
}

.short-box{
	margin: 10px;
	width: 48.5%;
}

.container{
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
}

.col {
	width: 20%;
}

.col-2{
	width: 40%;
}

.I1{
	width: 48.5%;
}

.I2{
	width: 22%;
}

.margin{
	margin: 5px;
}

.m-top{
	margin-top: 15px;
}

/*IMAGES and VIDEOS*/
img {
	width: 100%;
}

.br{
	border-radius: 30px;
}

video{
	width: 110%;
}

.overflow{
overflow: hidden;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
}

.dragme{
	cursor: pointer;
}

.hide{
	display: none;
}

.blur{
	filter: blur(10px);	
	transition: 0.8s;
}

.blur:hover{
	filter: blur(0px);
	transition: 0.8s;
}

/* TEXTBOXES */
.border{
	border: 2px solid black;
	border-radius: 30px;
}

/* NAVIGATION */
.nav{
	
	top: -28px;
	left: 5px;
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
	margin-top: 35px;
}

.bubble{
	text-align: center;
	margin: 10px;
	width: 30px;
	height: 30px;
	border-radius: 50px;
	background-color: black;
	text-decoration: none;
	color: white;
}

.bubble:hover{
	background-color:lime;
	color: white;
}

.bubble-width-big{
	margin-top: 10px;
	max-width: 650px;
	height: 215px;
	font-size: 36pt;
}

.bubble-1{
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	background-color: lime;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.bubble-1:hover{
	background-color:black;
	color: white;
}

.n1{
	position: fixed;
	top: 10%;
	right: 10%;
	
}

.n2{
	position: fixed;
	bottom: 20%;
	left: 5%;
	
}

.n3{
	position: fixed;
	bottom: 2%;
	left: 70%;
	
}

.n4{
	position: fixed;
	bottom: 30%;
	right: 30%;
	
}

.n5{
	position: fixed;
	top: 5%;
	left: 8%;
}

.n6{
	position: fixed;
	top: 15%;
	left: 45%;
}

/*TYPE*/
.header {
	font-size: 36pt;
	width: 100%;
	padding: 18px;
	font-family: Format;
	cursor: default;
  }

strong {
	font-family: Format;
	font-size: 20pt;
	padding: 4px;
	padding-bottom:0px;
	display: inline-block;
}

.text{
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 20px;
	padding-bottom: 10px;
	line-height: 33pt;
	font-size: 31pt;
}

.text:hover{
	cursor: default;
}

.quote{
	color: lime;
	padding-top: 30px;
	padding-bottom: 10px;
	line-height: 33pt;
	font-size: 31pt;
}

.quote:hover{
	color: black;
}

.quote:hover{
	cursor: default;
}

.subheader{
	font-size: 20pt;
	text-align: center;
	padding: 5px;
	padding-top: 10px;
}

.subheader-left{
	font-size: 20pt;
	padding-top: 10px;
	padding-left: 20%;
}

.tar{
	text-align: right;
	padding-right: 20px;
}

.no-line{
	text-decoration: none;
	font-family: Format;
}

.line{
	font-family:Format;
	cursor: pointer;
}

.white{
	color: white;
}

.pink{
	color: black;
}

.pink:hover{
	color:rgb(214, 169, 255);
	border-top:2px solid rgb(214, 169, 255) ;
}

.orange{
	color: black;
}

.orange:hover{
	color:rgb(255, 154, 60);
	border-top:2px solid rgb(255, 154, 60);
}

.lime{
	color: black;
}

.lime:hover{
	color:lime;
	border-top:2px solid lime ;
}

.blue{
	color: black;
}

.blue:hover{
	color: blue;
	border-top: 2px solid blue;
}

.red{
	color: black;
}

.red:hover{
	color: red;
	border-top:2px solid red;
}
