body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 20pt;
	background-color: aqua;
}

a {
	color:red;
}

.title{
	background-color: white;
	width: 300px;
	padding: 15px;
	margin-bottom: 15px;
	position: fixed;
	top: 10px;
	left: 40%;
	z-index: 2;
}

.title:hover{
	color:red;
	border: 1px solid red;
}

.top-margin{
	margin-top: 145px;
}

.top-border{
	border-top: 1.5px solid black;
}

.black{
	background-color: black;
	color: white;
}


.red{
	background-color: blue;
	border: 2px solid black;
	height: 300px;
	margin: 5px;
	
}
  
.header {
	font-size: 40px;
	font-style: italic;
	width: 100%;
  }

.header:hover{
	color:red;
}
  
.content {
	font-size: 24px;
	display: none;
	width: 100%;
  }

/*FLEX*/
.split{
	width: 50%;
	padding: 15px;
}

.wide-box{
	margin: 10px;
	width: 98.5%;
	background-color: rgb(196, 255, 140);
}

.short-box{
	margin: 10px;
	width: 48%;
	background-color: rgb(196, 255, 140);
}

.container{
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
	padding: 3px;
}

.col {
	width: 25%;
}

.I1{
	width: 45%;
}

.I2{
	width: 20%;
}

.margin{
	margin: 10px;
}

/*IMAGES and VIDEOS*/
.book1{
	width: 100%;
}

img {
	width: 100%;
}

.rotate90{
	transform: rotate(90deg);
}

.overlay{
	position: fixed;
	z-index: 3;
}

.overlay1{
	width: 300px;
	height: 200px;
	top: 500px;
  	right: 560px;
	opacity: 95%;
}

.overlay2{
	width: 250px;
	top: 280px;
  	left: 820px;
	opacity: 90%;
}

.overlay3{
	width: 300px;
	top: 260px;
  	left: 250px;
	opacity: 90%;
}

video{
	width: 100%;
	border-radius: 30px;
}

.row {
	width: 100%;
	border-bottom: 1.5px solid black;
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
	padding: 6px;
}

.dragme{
	cursor: move;
}
/*END IMAGES*/

/* TEXTBOXES */
.border{
	border: 1px solid black;
	border-radius: 30px;
}

.tall{
	height: 600px;
}

/* NAVIGATION */
.nav{
	
	top: -28px;
	left: 5px;
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
	margin-top: 35px;
}

.home{
	font-size: 24px;
	padding: 5px;
	width: max-content;
	border-radius: 20px;
	border:1.5px solid black;
	margin: 4px;
	background-color: black;
	color: white;
}

.bubble{
	font-size: 24px;
	padding: 5px;
	width: max-content;
	border-radius: 20px;
	border:1.5px solid black;
	margin: 4px;
	background-color: white;
}

.bubble:hover{
	color:white;
	background-color:black;
}

/*TYPE*/
strong {
font-weight:bolder;
}
em {
	font-style: italic;
	font-size: 14pt;
	line-height: ;
}


.text{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	font-size: 26pt;
}

.subheader{
	font-size: 12pt;
	font-style: oblique;
	text-align: center;
	padding: 5px;
}

.subheader-left{
	font-size: 12pt;
	font-style: oblique;
	padding: 10px;
	padding-left: 20%;
}


