body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 20pt;
	color: black;
	/* background-color: rgb(214, 169, 255); */
}

a {
	color:black;
}

@font-face{
	font-family: Format;
	src: url("fonts/Format_1452.otf");
}

.background-long{
 height: 100vh;
}


.title{
	width: 800px;
	padding: 8px;
	margin-bottom: 12px;
	position: fixed;
	top: 20%;
	left: 21%;
	z-index: 3;
	opacity: 50%;
}

.size{
	position: fixed;
	top: 0%;
	left: 0%;
}

.top-margin{
	margin-top: 193px;
}
 
.content {
	font-size: 24px;
	display: none;
	width: 100%;
}

/*FLEX*/
.split{
	width: 50%;
	padding: 10px;
}

.wide-box{
	margin: 10px;
	width: 98.5%;
}

.short-box{
	margin: 10px;
	width: 48.5%;
}

.container{
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
}

.col {
	width: 20%;
}

.col-2{
	width: 40%;
}

.I1{
	width: 48.5%;
}

.I2{
	width: 22%;
}

.I3{
	width: 18%;
}

.margin{
	margin: 5px;
}

.m-top{
	margin-top: 15px;
}

/*IMAGES and VIDEOS*/
img {
	width: 100%;
}

.br{
	border-radius: 30px;
}

/* .overlay{
	z-index: 2;
	width: 180px;
	margin: 5px;
	opacity: 90%;
}

.sml-container {
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
	justify-content: center;
	width: 50%;
	margin: auto;
} */

/* .w-250{
	width: 250px;
	position: absolute;
}

.C{
	top: 18%;
	left: 1%;
	margin: 5px;
}

.A{
	top: 20%;
	left: 9.5%;
	margin: 5px;
}

.P{
	top: 24%;
	left: 26%;
	margin: 5px;
}

.T{
	top: 19%;
	left: 39%;
	margin: 5px;
}

.CC{
	top: 20%;
	left: 49%;
	margin: 5px;
}


.H{
	top: 20%;
	left: 65%;
	margin: 5px;
}

.AA{
	top: 15%;
	left: 80%;
	margin: 5px;
} */

/* .invert{
	width: 100%;
	opacity: 80%;
	position: fixed;
	z-index: 4;
	top: 1%;
}
.invert-1{
	width: 100%;
	opacity: 80%;
	position: fixed;
	z-index: -1;
	top: 1%;
} */

.rotate90{
	transform: rotate(90deg);
}

video{
	width: 100%;
	border-radius: 30px;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
}

.dragme{
	cursor: pointer;
}

.hide{
	display: none;
}

.blur{
	filter: blur(10px);	
	transition: 0.8s;
}

.blur:hover{
	filter: blur(0px);
	transition: 0.8s;
}

/* TEXTBOXES */
.border{
	border: 2px solid black;
	border-radius: 30px;
}

.tall{
	height: 600px;
}

/* NAVIGATION */
.nav{
	
	top: -28px;
	left: 5px;
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
	margin-top: 35px;
}

.bubble{
	text-align: center;
	margin: 10px;
	width: 30px;
	height: 30px;
	border-radius: 50px;
	background-color: black;
	text-decoration: none;
	color: white;
}

.bubble:hover{
	background-color:turquoise;
	color: white;
}

.bubble-width-big{
	max-width: 650px;
	height: 155px;
	font-size: 36pt;
}

.bubble-1{
	margin: auto;
	border-radius: 30px;
	background-color: lime;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.bubble-1:hover{
	background-color:black;
	color: white;
}

.n1{
	position: fixed;
	top: 60px;
	right: 150px;
	
}

.n2{
	position: fixed;
	bottom: 290px;
	left: 80px;
	
}

.n3{
	position: fixed;
	bottom: 20px;
	left: 600px;
	
}

.n4{
	position: fixed;
	bottom: 250px;
	right: 400px;
	
}

.n5{
	position: fixed;
	top: 20px;
	left: 180px;
}

.l2{
	position: fixed;
	top: 25%;
	right: 10%;
	z-index: 4;
}

.l3{
	position: fixed;
	bottom: 35%;
	right: 35%;
	z-index: 4;
}

.l4{
	position: fixed;
	top: 35%;
	left: 20%;
	z-index: 4;
}

.l5{
	position: fixed;
	top: 15%;
	right: 40%;
	z-index: 4;
}



/*TYPE*/
.header {
	font-size: 36pt;
	width: 100%;
	padding: 18px;
	font-family: Format;

  }

.pink{
	color: black;
}

.pink:hover{
	color:rgb(214, 169, 255);
	border-top:2px solid rgb(214, 169, 255) ;
}

.orange{
	color: black;
}

.orange:hover{
	color:rgb(255, 154, 60);
	border-top:2px solid rgb(255, 154, 60);
}

.lime{
	color: black;
}

.lime:hover{
	color:lime;
	border-top:2px solid lime ;
}

.blue{
	color: black;
}

.blue:hover{
	color: blue;
	border-top: 2px solid blue;
}

.red{
	color: black;
}

.red:hover{
	color: red;
	border-top:2px solid red;
}

strong {
	font-family: Format;
	font-size: 20pt;
	/* border: 2px solid black; */
	padding: 4px;
	padding-bottom:0px
}

em {
	font-style: italic;
	font-weight: lighter;
}


.text{
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 20px;
	padding-bottom: 10px;
	line-height: 24pt;
}

.text:hover{
	cursor: default;
}

.quote{
	padding-left: 20px;
	padding-right: 15px;
	padding-bottom: 15px;
	font-size: 36pt;
	font-family: Format;
	font-weight: lighter;
	line-height: 38.5pt;
}

.quote:hover{
	cursor: default;
}

.subheader{
	font-size: 20pt;
	text-align: center;
	padding: 5px;
	padding-top: 10px;
}

.subheader-left{
	font-size: 20pt;
	padding-top: 10px;
	padding-left: 20%;
}

.tar{
	text-align: right;
	padding-right: 20px;
}

.no-line{
	text-decoration: none;
	font-family: Format;
}

.white{
	color: white;
}

.line{
	font-family:Format;
}


